@import './base/normalize';
@import './base/reset';

@import './utils/hidden';
@import './utils/mixins';
@import './utils/vars';

@import './components/mob-menu';
@import './components/modal';
@import './components/pop-up';
@import './components/box';
@import './components/button';
@import './components/container';
@import './components/text';
@import './components/section';
@import './components/swiper';
@import './components/menu-burger';

@import './layout/faq';
@import './layout/header';
@import './layout/hero';
@import './layout/testimonials';
