.faq {
}

.faq__title {
    max-width: 350px;
    margin: 0 auto;
}

.faq__list {
    margin: 15px auto 0;
    max-width: 350px;
}

.faq__item {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    border-radius: 10px;

    & + .faq__item {
        margin-top: 8px;
    }
}

.faq__subtitle {
    color: #ffffff;
}

.faq__icon {
    fill: #ffffff;
    transform: rotate(45deg);
}

.closed {
}
