.testimonials__list {
    margin-top: 30px;
}

.testimonials__item {
}

.testimonials__description {
    margin-bottom: 20px;
}

.user-description {
    display: flex;
    margin: 0 auto;
}

.user__photo {
    width: 60px;
    height: 60px;
}

.user__name {
}

.user__position {
}
