.box {
   background: linear-gradient(var(--box-gradient));
   border-radius: 15px;

   transition: all var(--transition);

   &--shadow {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
   }
}

.border-box {
   position: relative;

   background: #fff;
   border-radius: 15px;

   transition: all var(--transition);

   &::before {
      content: '';
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: linear-gradient(var(--border-box-gradient));
      border-radius: 15px;
      z-index: -1;
   }
}
