.mob-menu {
   z-index: 5;
   @include position($pos: fixed, $t: 50px, $l: 0);
   transform-origin: top center;
   transform: translate(0) scale(1);
   overflow: scroll;

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding: 40px 43px;

   background-color: #fee8ce;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

   transition: transform var(--transition);
   transform: translate(0) scale(1);

   &.visually-hidden {
      transform: translate(0) scale(0);
   }

   @media screen and (min-width: 768px) {
   @include position($pos: fixed, $t: 102px, $l: 0);
   }
}
.mob-menu__list {
   font-family: 'Readex Pro', sans-serif;

   color: var(--primary-color);
}
.mob-menu__item {
   position: relative;

   text-align: center;

   &:not(:first-child) {
      margin-top: 20px;
   }
   &:not(:last-child) {
      margin-bottom: 20px;
   }
}

.mob-menu__text {
   @include font(600, 20px, calc(25 / 20));
   transition: all var(--transition);

   &.active {
      padding-bottom: 10px;
      transform: scale(1.05);
      color: var(--accent-color);
   }
}
